/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container Styles */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    padding-top: 0px;
    text-align: center;
    box-shadow: none;
    border: none;
}

p {
    margin-bottom: 1em;
}

h1 {
    margin-bottom: 20px;
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: none;
    font-size: 16px;
}

select,
#download-link {
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 3px;
}

.pdf-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.homepage-icon {
    width: 16px;
    height: 16px;
    margin-right: 9px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

a.hidden {
    display: none;
}

#download-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #333;
    border-top: none;
    width: 100%;
}

footer nav a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

footer nav a:hover {
    text-decoration: underline;
}

/* Loading Spinner */
.spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        display: block;
    }

    .container {
        justify-content: flex-start;
        min-height: calc(100vh - 60px);
        overflow-y: auto;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "Language";
    }

    td:nth-of-type(2):before {
        content: "Learner Age";
    }

    td:nth-of-type(3):before {
        content: "Subject";
    }

    td:nth-of-type(4):before {
        content: "Download";
    }
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #fff;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.hamburger-menu:hover {
    background-color: #f0f0f0;
}

.bar {
    width: 34px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 250px;
    height: 100%;
    text-align: left;
    transition: 0.3s;
    box-shadow: -10px 0 27px rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 0.2rem;
}

.nav-menu.active {
    left: 0;
}

.nav-menu ul {
    list-style: none;
    padding: 1rem;
    margin-top: 4rem;
}

.nav-menu ul li {
    margin: 1rem 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.nav-menu a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

@media (hover: hover) and (pointer: fine) {
    .hamburger-menu:hover {
        background-color: #f0f0f0;
    }

    .nav-menu a:hover {
        background-color: #f0f0f0;
        text-decoration: none;
    }
}

@media (hover: none) and (pointer: coarse) {
    .hamburger-menu:hover {
        background-color: transparent;
    }

    .nav-menu a:hover {
        background-color: transparent;
        text-decoration: none;
    }
}